In [2]:
import pandas as pd

df = pd.read_csv('train_preprocess.tsv', delimiter='\t', header=None, )
df.columns=['text', 'label']
df

                                                    text     label
0      warung ini dimiliki oleh pengusaha pabrik tahu...  positive
1      mohon ulama lurus dan k212 mmbri hujjah partai...   neutral
2      lokasi strategis di jalan sumatera bandung . t...  positive
3      betapa bahagia nya diri ini saat unboxing pake...  positive
4      duh . jadi mahasiswa jangan sombong dong . kas...  negative
...                                                  ...       ...
10995                                       tidak kecewa  positive
10996  enak rasa masakan nya apalagi kepiting yang me...  positive
10997        hormati partai-partai yang telah berkoalisi   neutral
10998  pagi pagi di tol pasteur sudah macet parah , b...  negative
10999  meskipun sering belanja ke yogya di riau junct...  positive

[11000 rows x 2 columns]

In [3]:
df_positive = df[df['label'] == 'positive']
df_negative = df[df['label'] == 'negative']
df_neutral = df[df['label'] == 'neutral']

In [4]:
df_positive

                                                    text     label
0      warung ini dimiliki oleh pengusaha pabrik tahu...  positive
2      lokasi strategis di jalan sumatera bandung . t...  positive
3      betapa bahagia nya diri ini saat unboxing pake...  positive
5      makanan beragam , harga makanan di food stall ...  positive
7      tempat unik , bagus buat foto , makanan enak ,...  positive
...                                                  ...       ...
10992  kalau memang jala nya sudah begitu terima saja...  positive
10994                                        tidak bosan  positive
10995                                       tidak kecewa  positive
10996  enak rasa masakan nya apalagi kepiting yang me...  positive
10999  meskipun sering belanja ke yogya di riau junct...  positive

[6416 rows x 2 columns]

In [5]:
df_negative

                                                    text     label
4      duh . jadi mahasiswa jangan sombong dong . kas...  negative
6      pakai kartu kredit bca tidak untung malah rugi...  negative
10     simcard indosat inaktiv gara-gara lupa isi pul...  negative
11     sifat iri sering muncul pada orang orang yang ...  negative
13     pengalaman bersama indosat hari ini , semoga t...  negative
...                                                  ...       ...
10982  tolong dibaca pesan saya ! di dalam kotak hand...  negative
10985  sumpah gue kecewa banget dengan sms , cuma tea...  negative
10989  tadinya pengin mengantar teman dari kalau ke r...  negative
10991                                dapat rom awal abad  negative
10998  pagi pagi di tol pasteur sudah macet parah , b...  negative

[3436 rows x 2 columns]

In [6]:
df_neutral

                                                    text    label
1      mohon ulama lurus dan k212 mmbri hujjah partai...  neutral
16     setiap bumn dibentuk dengan uu bukan dibentuk ...  neutral
28     pdip sebut ridwan kamil menang karena berbaju ...  neutral
32     08:30 : kedatangan presiden ri dan rombongan d...  neutral
37     risma menjatuhkan pilihan nya pada gus ipul - ...  neutral
...                                                  ...      ...
10925  pkb benarkan charly setia band daftar jadi caw...  neutral
10967  pernah percaya kalau body lotion citra bikin b...  neutral
10969  bu susi marah , menteri luhut perbolehkan kapa...  neutral
10993  f - demokrat dorong upaya kemandirian energi n...  neutral
10997        hormati partai-partai yang telah berkoalisi  neutral

[1148 rows x 2 columns]

In [7]:
new_df_positive = df_positive.sample(1148)
new_df_positive

                                                    text     label
8828       sabun pencuci baju data ini memang baguslah !  positive
8892   keluarga kami suka gurame goreng nya , bumbu n...  positive
5187   malam minggu di saat semua resto penuh akhirny...  positive
901    dalam sajian piring yang berbentuk kotak serta...  positive
3382   positif : makanan nya beragam , namun tidak ha...  positive
...                                                  ...       ...
321    resto yang menawarkan galeri alami dan kafe se...  positive
10249  camilan makanan ringan yang telah saya kenal b...  positive
6344   tempat yang adem nyaman pelayanan yang ramah h...  positive
4535   menikmati makan siang di restoran sapu lidi me...  positive
7376   makan siang di ayam penyet bu turis enak , sua...  positive

[1148 rows x 2 columns]

In [8]:
new_df_negative = df_negative.sample(1148)
new_df_negative

                                                    text     label
2563   ya sudah sidang nya cepetan kelarkan . bosan m...  negative
9598                                      tidak bersinar  negative
4543      minimal kok tri sekarang pelit msa aktif sih .  negative
3481   loh . pelayanan lama ini . payah ini bca . pri...  negative
3407   menu utama adalah masakan sunda . menu yang di...  negative
...                                                  ...       ...
6695   belum cek unit bang . mhon nota pembelian dise...  negative
4628            malas makan oreo , suka bikin gigi hitam  negative
10709  ingin kembali merantau rasanya , kemana nya be...  negative
5477   ternyata yang sering mengata - ngatai fpi jual...  negative
2275   efek keracunan sianida dari singkong , ketahua...  negative

[1148 rows x 2 columns]

In [9]:
df = new_df_negative.append(new_df_positive, ignore_index = True)
df = df.append(df_neutral, ignore_index = True)
df

C:\Users\Dida\AppData\Local\Temp\ipykernel_10612\1328770004.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = new_df_negative.append(new_df_positive, ignore_index = True)
C:\Users\Dida\AppData\Local\Temp\ipykernel_10612\1328770004.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_neutral, ignore_index = True)

                                                   text     label
0     ya sudah sidang nya cepetan kelarkan . bosan m...  negative
1                                        tidak bersinar  negative
2        minimal kok tri sekarang pelit msa aktif sih .  negative
3     loh . pelayanan lama ini . payah ini bca . pri...  negative
4     menu utama adalah masakan sunda . menu yang di...  negative
...                                                 ...       ...
3439  pkb benarkan charly setia band daftar jadi caw...   neutral
3440  pernah percaya kalau body lotion citra bikin b...   neutral
3441  bu susi marah , menteri luhut perbolehkan kapa...   neutral
3442  f - demokrat dorong upaya kemandirian energi n...   neutral
3443        hormati partai-partai yang telah berkoalisi   neutral

[3444 rows x 2 columns]

In [11]:
df.to_csv('fixed_dataset.csv', header=None, index= False)