In [16]:
import pandas as pd

df1 =['a', 'b', 'c', 'd', 'e']
df2 = ['e', 'f', 'g', 'h', 'i']

In [50]:
df = pd.DataFrame(
    {'teks': df1,
     'response': df2,
    })
df

  teks response
0    a        e
1    b        f
2    c        g
3    d        h
4    e        i

In [53]:
import json
result = df.to_json(orient="index")
parsed = json.loads(result)
json.dumps(parsed)  

parsed

{'0': {'teks': 'a', 'response': 'e'},
 '1': {'teks': 'b', 'response': 'f'},
 '2': {'teks': 'c', 'response': 'g'},
 '3': {'teks': 'd', 'response': 'h'},
 '4': {'teks': 'e', 'response': 'i'}}

In [54]:
parsed

{'0': {'teks': 'a', 'response': 'e'},
 '1': {'teks': 'b', 'response': 'f'},
 '2': {'teks': 'c', 'response': 'g'},
 '3': {'teks': 'd', 'response': 'h'},
 '4': {'teks': 'e', 'response': 'i'}}